body {
    background-color: rgb(225, 225, 225);
    color: black;
}
.title {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.php {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1.5rem;
    background-color: rgb(75, 75, 75);
    color: white;
}
.niz {
    padding: 2rem;
    color: red;
}
table {
    margin: auto;
}
table, td, th {
    border: 3px solid white;
    border-collapse: collapse;
}
th {
    font-weight: bold;
    font-size: 1.5rem;
}
th, td {
    padding: 2rem;
    text-align: center;
}